.full-page {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  background-color: dee2e6;
}

.login-card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #dee2e6;
  background-color: $color-mint-green;
}

.card-header, .card-body, .card-footer {
  padding: 1rem; 
}

.staff-header {
  background-color: $color-pale-blue;
}

.card-header {
  border-bottom: 1px solid #dee2e6; 
}

.card-footer {
  border-top: 1px solid #dee2e6;
  background-color: $color-sand;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
}